{% extends "AplicacionPrincipal/padre.html" %}
{% load static %}
{% block headerModificable %}
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Acerca de mi</h1>
                    <span class="subheading">Esto es un poco de mí.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block mainModificable %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Mi nombre es Vanesa Romero, tengo 23 años, vivo en Buenos Aires y actualmente además del curso de CoderHouse (Python) estoy estudiando Ingenieria Informática en UADE y Francés en el CUI</p>
                <p>Actualmente soy Asistente de gestión de incidencias en Mercado Libre, pero mi idea es enfocarme al área de seguridad informática (Ethical Hacking) en un futuro.</p>
                <img src="{% static 'AplicacionPrincipal/assets/img/mapache.jpg' %}" alt="Mapache estatua" width="700rem" height="500rem">
            </div>
        </div>
    </div>
</main>
{% endblock %}