{% extends "AplicacionPrincipal/padre.html" %}
{% load static %}
{% block headerModificable %}
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Agregar nuevo post</h1>
                    <span class="subheading">Esta sección es solamente para agregar nuevo post...</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block mainModificable %}
{% if request.user.username == posteo.usuarioCreador or request.user.is_superuser%}
<div class="card-body">
    <form action="" method="POST" enctype="multipart/form-data" style="color:white">
        {% csrf_token %}
        <div class="mb-3">
            <label for="" class="form-label">Titulo</label>
            <input type="text" Required name="titulo" value="{{posteo.titulo}}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Género</label>
            <select name="genero" class="form-control">
                <option value="{{posteo.subtitulo}}" selected>{{posteo.subtitulo}}</option>
                <option value="Clásica">Clásica</option>
                <option value="Country">Country</option>
                <option value="Jazz">Jazz</option>
                <option value="Metal">Metal</option>
                <option value="Pop">Pop</option>
                <option value="Tecno">Tecno</option>
                <option value="Rock">Rock</option>
                <option value="Otros">Otros</option>
              </select>
        </div> 
        <div class="mb-3">
            <label for="" class="form-label">Descripcion</label>
            <input type="text" Required name="descripcion" value="{{posteo.descripcion}}" class="form-control">
        </div>
        <div>
            <label for="" class="form-label">Imagen</label>    
        </div>
         <div class="mb-3">
            
            {% if posteo.imagen %}
                <img src="{{posteo.imagen.url}}" alt="" style="max-width:300px">
            {% endif %}

                 
            <input type="file" name="imagen" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% else %}
<div style="color:white">
<h1>NO PERMITIDO.</h1>
</div>
{% endif %}

{% endblock %}