{% extends "AplicacionPrincipal/padre.html" %}
{% load static %}
{% block headerModificable %}
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Mundo Retro</h1>
                    <span class="subheading">Bienvenido, si te gustan los juegos retro, estás en tu lugar.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block mainModificable %}
{% if mensaje %}
<div class="container text-center">
    <h1>{{mensaje}}</h1>
    <img src="{% static 'AplicacionPrincipal/assets/img/MundoRetro.jpg' %}" style="width: 700px; height:450px" alt="">
    <br>
    <a href="{% url 'home' %}"><button type="button" class="btn btn-secondary btn-lg btn-block text-uppercase" style="margin-top: 40px">Ir al inicio</button></a>
    <br>
    <br>
</div>
{% elif not mensaje%}
    {%if posteos %}
    {% for p in posteos %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                    
                    <div class="post-preview">
                    <h2 class="post-title">{{p.titulo}}</h2>
                    <h4 style="color:rgb(82, 75, 75); font-style: italic;">{{p.subtitulo}}</h4>
                    <img src="{{ p.imagen.url }}" alt="" style="max-width:300px">
                    <p class="post-meta">
                    {{p}}
                    </p>
                    <a href="{% url 'detallePost' p.id %}"><button type="button" class="btn btn-secondary btn-lg btn-block" style="font-family:monospace; margin-bottom: 30px;">Leer más</button></a>
                    </div>  
                    <hr class="my-4" />
            </div>
        </div>
    </div>
        {% endfor %} 
        <div class="text-center"><a class="btn btn-primary text-uppercase" href="{% url 'pages'%}">Ir a Pages </a></div>
        <br>
    {% endif %}
{% endif %}
{% endblock %}