{% extends "AplicacionPrincipal/padre.html" %}
{% load static %}
{% block headerModificable %}
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Mundo Retro</h1>
                    <span class="subheading">Adiós, espero que pronto regreses :D</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block mainModificable %}
<div class="container text-center">
    <img src="{% static 'AplicacionPrincipal/assets/img/game-over.jpg' %}" style="width: 700px; height:450px" alt="">
</div>
<br>
{% endblock %}