{% extends "AplicacionPrincipal/padre.html" %}
{% load static %}
{% block headerModificable %}
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Mi perfil</h1>
                    <span class="subheading">Esta sección es solamente para ver tu perfil</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block mainModificable %}
<h1 class="text-center">MI PERFIL</h1>
<br>
<div>
<h2 class="text-uppercase text-center">Este es el perfil de: {{user}}</h2>
<br>
<div class="container d-flex justify-content-center">
    <img src="{{url}}" alt="" width="300px" height="300px" class="rounded-circle">
</div>
<div class="container">
    <br>
    <div>
    <a href="{% url 'agregarPost' %}"><button class="btn btn-secondary btn-lg btn-block text-uppercase" style="width: 100%">Agregar nuevo post</button></a>
    <br>
    <br>
    <a href="{% url 'verPost' %}"><button class="btn btn-secondary btn-lg btn-block text-uppercase" style="width: 100%">Ver mis posts</button></a>
    <br>
    <br>
    <a href="{% url 'editarPerfil' %}"><button class="btn btn-secondary btn-lg btn-block text-uppercase" style="width: 100%">Editar mi perfil</button></a>
    <br>
    <br>
    <a href="{% url 'agregarAvatar' %}"><button class="btn btn-secondary btn-lg btn-block text-uppercase" style="width: 100%">Editar mi Avatar</button></a>
    <br>
    <br>
    <a href="{% url 'enviarMensaje' %}"><button class="btn btn-secondary btn-lg btn-block text-uppercase" style="width: 100%">Enviar mensaje a un usuario</button></a>
    <br>
    <br>
    <a href="{% url 'verEnviados' %}"><button class="btn btn-secondary btn-lg btn-block text-uppercase" style="width: 100%">Ver mensajes enviados</button></a>
    <br>
    <br>
    <a href="{% url 'mensajeria' %}"><button class="btn btn-secondary btn-lg btn-block text-uppercase" style="width: 100%">Ver mensajes recibidos</button></a>
    <p></p>
    </div>
</div>
{% endblock %}