{% extends "AplicacionPrincipal/padre.html" %}
{% load static %}
{% block headerModificable %}
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Mi perfil</h1>
                    <span class="subheading">Esta sección es solamente para ver tu perfil</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block mainModificable %}
<h1 class="text-center">MI PERFIL</h1>

<div class="container">
    <h2 >Este es el perfil de: {{user}}</h2>
    <img src="{{url}}" alt="" width="200px" height="200px" class="rounded-circle">
</div>
<div class="container">
    <br>
<a href="{% url 'agregarPost' %}"><button class="btn btn-secondary btn-lg btn-block">Agregar nuevo post</button></a>
    <br>
    <br>
<a href="{% url 'verPost' %}"><button class="btn btn-secondary btn-lg btn-block">Ver mis posts</button></a>
    <p></p>
</div>
{% endblock %}